<section class="container my-5 py-4">
    <div class="justify-content-center fade-in-scroll">
        <div class="hero-content-card text-center">
            <h2 class="title-font">Book a Table</h2>
            <div class="my-3 justify-content-center d-flex">
                <script type="text/javascript" src="//www.opentable.co.uk/widget/reservation/loader?rid=21216&type=standard&theme=standard&color=1&dark=false&iframe=true&domain=couk&lang=en-GB&newtab=false&ot_source=Restaurant%20website&cfe=true"></script>
            </div>
                
            <h2 class="mb-4 title-font">Delivered Fresh to Your Door</h2>
            <p class="hero-description mb-4">
                Can't visit us today? No problem! Enjoy authentic Lebanese cuisine from the comfort of your home.
                Order now through your favourite delivery service.
            </p>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
                <a href="https://www.ubereats.com/gb/store/al-waha/IJtJyzVkVa6_3foV9R0oMA" target="_blank" class="btn btn-primary btn-lg me-2" style="color: #fff !important;">
                    <i class="fa-solid fa-utensils me-2"></i>Uber Eats
                </a>
                <a href="https://deliveroo.co.uk/menu/London/bayswater/alwaha-restaurant" target="_blank" class="btn btn-primary btn-lg me-2" style="color: #fff !important;">
                    <i class="fa-solid fa-motorcycle me-2"></i>Deliveroo
                </a>
                <a href="https://www.just-eat.co.uk/restaurants-al-waha-paddington/menu" target="_blank" class="btn btn-primary btn-lg me-2" style="color: #fff !important;">
                    <i class="fa-solid fa-bag-shopping me-2"></i>Just Eat
                </a>
            </div>
        </div>
    </div>
</section>