@page
@model AlwahaManagement.Pages.Menu.Index

@{
    ViewData["Title"] = "Menu Items";
}


<div class="clearfix">
    <h1 class="float-start">@ViewData["Title"]</h1>
    <button class="btn btn-primary float-end mb-1"
            onclick="location.assign('/Menu/Edit')">
        <span class="fa-solid fa-plus"></span> Create New Menu Item
    </button>
</div>

<div class="mt-3 mb-3">
    <form method="get" class="d-flex gap-2" onsubmit="return true;">
        <input type="text" name="search" class="form-control" placeholder="Search menu items..." value="@Model.Search" style="max-width: 400px;"/>
        <button type="submit" class="btn btn-secondary">
            <i class="fa-solid fa-search"></i> Search
        </button>
    </form>
</div>

<div id="menu-list">
    <partial name="Shared/Menu/_MenuItemTable" model="(Model.MenuItems, false)" />
</div>
