@page
@model AlwahaManagement.Pages.Menu.Index

@{
    ViewData["Title"] = "Menu Items";
}

<h1>@ViewData["Title"]</h1>

<div class="clearfix">
    <button class="btn btn-primary float-end mb-1"
            onclick="location.assign('/Menu/Edit')">
        <span class="fa-solid fa-plus"></span> Create New Menu Item
    </button>
</div>

<div class="mt-3">
    <partial name="Shared/Menu/_MenuItemTable" model="Model.MenuItems" />
</div>
