@page
@using AlwahaLibrary.Services
@inject UserInfo UserInfo
@model AlwahaManagement.Pages.Menu.Tags.Index

@{
    ViewData["Title"] = "Item Tags (Allergies)";
}


<div class="clearfix">
    <h1 class="float-start">@ViewData["Title"]</h1>
    @if (!Model.IsRestore && UserInfo.CanCreate())
    {
        <button class="btn btn-primary float-end mb-1"
                onclick="location.assign('/Menu/Tags/Edit')">
            <span class="fa-solid fa-plus"></span> Create New Item Tag
        </button>
    }
    @if (UserInfo.CanRestore())
    {
        @if (Model.IsRestore)
        {
            <button class="btn btn-secondary float-end mb-1 me-2"
                    onclick="location.assign('/Menu/Tags/Index')">
                <span class="fa-solid fa-arrow-left"></span> Back to Item Tags
            </button>
        }
        else
        {
            <button class="btn btn-warning float-end mb-1 me-2"
                    onclick="location.assign('/Menu/Tags/Index?isRestore=true')">
                <span class="fa-solid fa-trash-restore"></span> Restore Tags
            </button>
        }
    }
</div>

<p>Manage tags and allergen information for menu items.</p>

<div class="mt-2" id="tag-list">
    <partial name="Menu/_ItemTagList" model="(Model.ItemTags, Model.IsRestore)"/>
</div>