@model List<AlwahaLibrary.Models.ItemTag>

<div class="row">
    @foreach (var tag in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 mb-4 px-3">
            <div class="card shadow-sm h-100 menu-item-card">
                <div class="card-header py-3 position-relative clearfix" style="background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);">
                    <div class="float-start">
                        <partial name="Menu/_ItemTagBadge" model="tag"/>
                        <h5 class="card-title mb-1 text-white fw-bold d-inline-block ms-3">
                            @tag.Name
                        </h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger float-end"
                            title="Delete Tag" onclick="confirmDelete('@tag.Name', '/Menu/DeleteTag?id=@tag.TagId', 'tag-list', '/Menu/GetItemTagsList')">
                        <i class="fa-solid fa-trash"></i> Delete
                    </button>
                    <button type="button" class="btn btn-sm btn-primary float-end"
                            title="Edit Tag" onclick="location.assign('/Menu/Tags/Edit/@tag.TagId')">
                        <i class="fa-solid fa-pencil"></i> Edit
                    </button>
                </div>
            </div>
        </div>
    }
</div>