@page
@model AlwahaManagement.Pages.Menu.ItemTypes.Index

@{
    ViewData["Title"] = "Item Types";
}


<div class="clearfix">
    <h1 class="float-start">@ViewData["Title"]</h1>
    <button class="btn btn-primary float-end mb-1"
            onclick="location.assign('/Menu/ItemTypes/Edit')">
        <span class="fa-solid fa-plus"></span> Create New Item Type
    </button>
</div>

<p>Drag and drop the item types below to re-order the menu.</p>

<div class="mt-2" id="item-list">
    <partial name="Shared/Menu/_ItemTypeList" model="Model.ItemTypes"/>
</div>